@import url("https://fonts.googleapis.com/css?family=Varela+Round");
html,
body {
  overflow-x: hidden;
  height: 100%;
}
body {
  background: rgb(22, 12, 12);
  background-image: linear-gradient(rgb(7, 1, 17), rgb(2, 2, 17));
  padding: 0;
  margin: 0;
  font-family: "Varela Round", sans-serif;
  /* background-image: url(./imagens/rato.jpg); */
  background-repeat: no-repeat;
  background-size: cover;
}
.rato img{
  margin: 5px;
}
.header {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 100%;
  box-shadow: none;
  background-color: #19191f;
  position: fixed;
  height: 60px !important;
  overflow: hidden;
  z-index: 10;
}

#sidebarMenu {
  height: 100%;
  position: fixed;
  left: 0;
  width: 250px;
  margin-top: 60px;
  transform: translateX(-250px);
  transition: transform 250ms ease-in-out;
  background: linear-gradient(180deg, #5b0fc0 0%, #3f5efb 100%);
}

.sidebarMenuInner {
  margin: 0;
  padding: 0;
  border-top: 1px solid rgba(175, 110, 49, 0.1);
}

.sidebarMenuInner li {
  list-style: none;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  padding: 20px;
  cursor: pointer;
  border-bottom: 1px solid rgba(160, 71, 71, 0.1);
}

.sidebarMenuInner li span {
  display: block;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.5);
}
.sidebarMenuInner li a {
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
}
input[type="checkbox"]:checked ~ #sidebarMenu {
  transform: translateX(0);
}

input[type="checkbox"] {
  transition: all 0.3s;
  box-sizing: border-box;
  display: none;
}
.sidebarIconToggle {
  transition: all 0.3s;
  box-sizing: border-box;
  cursor: pointer;
  position: absolute;
  z-index: 99;
  height: 100%;
  width: 100%;
  top: 22px;
  left: 15px;
  height: 22px;
  width: 22px;
}
.spinner {
  transition: all 0.3s;
  box-sizing: border-box;
  position: absolute;
  height: 3px;
  width: 100%;
  background-color: #fff;
}
.horizontal {
  transition: all 0.3s;
  box-sizing: border-box;
  position: relative;
  float: left;
  margin-top: 3px;
}
.diagonal.part-1 {
  position: relative;
  transition: all 0.3s;
  box-sizing: border-box;
  float: left;
}
.diagonal.part-2 {
  transition: all 0.3s;
  box-sizing: border-box;
  position: relative;
  float: left;
  margin-top: 3px;
}
input[type="checkbox"]:checked ~ .sidebarIconToggle > .horizontal {
  transition: all 0.3s;
  box-sizing: border-box;
  opacity: 0;
}
input[type="checkbox"]:checked ~ .sidebarIconToggle > .diagonal.part-1 {
  transition: all 0.3s;
  box-sizing: border-box;
  transform: rotate(135deg);
  margin-top: 8px;
}
input[type="checkbox"]:checked ~ .sidebarIconToggle > .diagonal.part-2 {
  transition: all 0.3s;
  box-sizing: border-box;
  transform: rotate(-135deg);
  margin-top: -9px;
}

.main {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

h1 {
  text-align: center;
  text-transform: uppercase;
  color: #0f12c0;
  font-size: 3rem;
  margin-top: 10rem;
}

.roller {
  height: 4.125rem;
  line-height: 4rem;
  position: relative;
  overflow: hidden;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #9091e2;
}

.roller #rolltext {
  position: absolute;
  top: 0;
  animation: slide 5s infinite;
}

@keyframes slide {
  0% {
    top: 0;
  }
  25% {
    top: -4rem;
  }
  50% {
    top: -8rem;
  }
  72.5% {
    top: -12.25rem;
  }
}

footer {
  padding: 1% 5%;
  text-align: center;
  color: #f1faee;
  font-weight: 500;
  text-decoration: none;
  background: linear-gradient(180deg, #1114db 0%, #3f5efb 100%);
}
.meninas {
  color: #e49ab0;
  text-decoration: none;
  margin-top: 40px;
}

/* Responsividade */

@media screen and (max-width: 600px) {
  h1 {
    text-align: center;
    text-transform: uppercase;
    color: #f1faee;
    font-size: 2.125rem;
  }

  .roller {
    height: 2.6rem;
    line-height: 2.125rem;
  }

  #spare-time {
    font-size: 1rem;
    letter-spacing: 0.1rem;
  }

  .roller #rolltext {
    animation: slide-mob 5s infinite;
  }

  @keyframes slide-mob {
    0% {
      top: 0;
    }
    25% {
      top: -2.125rem;
    }
    50% {
      top: -4.25rem;
    }
    72.5% {
      top: -6.375rem;
    }
  }
}

@media (max-width: 1080px) {
  html,
  body,
  background-image {
    font-size: 93, 75%;
  }
}

@media (max-width: 600px) {
  html,
  body {
    font-size: 1em;
  }

  .roller #rolltext {
    animation: hidden;
    color: transparent;
  }
}

/*erica*/

.imagem a img {
  width: 100px;
  border-radius: 100%;
  border: solid 5px rgb(230, 13, 164);
}
.imagem a {
  color: rgb(230, 13, 164);
  text-decoration-style: none;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
}
footer ul li {
  display: inline-block;
  text-align: justify;
  margin-left: 50px;
}
/* formulario */
.geral {
  margin: 40px auto;
  text-align: center;
}
.cb {
  margin-top: 40px;
  padding: 40px 10px;
}
.mn {
  text-align: center;
  width: 90%;
  height: auto;
  margin: 20px auto;
  padding: 40px 10px;
}
.formulario label {
  display: block;
  margin: 20px auto;
}
.formulario input {
  width: 550px;
  text-align: center;
}
#input {
  width: 100px;
  background-color: darkgrey;
}
#lista li {
   list-style: none;
}
.app {
  /* display: flex; */
  align-items: center;

  width: 100vw;
  min-height: 100vh;
}

.config {
  background-color: rgba(255, 255, 255, 0.1);
  color: #000000;
  text-align: center;
  margin-bottom: 0.5rem;
  padding: 1rem 3rem;
  margin-bottom: 10px;

  background-color: #e49ab0;
}
.done {

    text-decoration: line-through;
  }
.check{
margin: 10px;
}
.del{
  margin: 10px;
}
